<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" size="large" [routerLink]="['/counter']" [queryParams]="{ ratio: 12 }">Phosphorus</ion-button>
  <ion-button expand="full" size="large" [routerLink]="['/counter']" [queryParams]="{ ratio: 2 }">Glycic</ion-button>
  <ion-button expand="full" size="large" [routerLink]="['/counter']" [queryParams]="{ ratio: 1/4 }">Oxidative</ion-button>
</ion-content>
